{% extends 'base.html' %}

{% block title %}
Weather
{% endblock title %}


{% block body %}
<center>
    <div class="container col-xxl-8 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('../static/images/hear.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            <div class="col-lg-6">
                                {% if weather %}
                                <h3 class="display-7 fw-bold text-body-emphasis lh-1 mb-3">Weather in {{weather.city}}
                                </h3>
                                <hr>
                                <p class="lead text-body-emphasis">
                                <p class="lead text-body-emphasis"><strong>Temperature:</strong> {{ weather.temperature
                                    }}&deg;{{ 'C' if request.form.get('units') ==
                                    'metric' else 'F'
                                    }}</p>
                                <p class="lead text-body-emphasis"><strong>Description:</strong> {{ weather.description
                                    }}</p>
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather icon">
                                </p>

                                {% elif error %}
                                <p style="color: red;">{{ error }}</p>
                                {% endif %}
                            </div>
                        </h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="../static/images/here.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                {% if weather %}
                                <small>{{weather.description}}</small>
                                {% endif %}
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>Just now</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Fill Out!</h3>
                <form class="row align-items-center justify-content-center overflow-hidden" method="post">

                    <div class="col-sm-3 my-1">
                        <label class="visually-hidden" for="specificSizeInputName">Enter City</label>
                        <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter City"
                            name="city" required>
                    </div>

                    <div class="col-sm-3 my-1">
                        <label class="visually-hidden" for="specificSizeSelect">Select Units</label>
                        <select class="form-select" id="units" name="units">
                            <option value="metric">Celsius</option>
                            <option value="imperial">Fahrenheit</option>
                        </select>
                    </div>

                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-info">Get Weather</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>
{% endblock body %}